---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables

// Fonts 
$header-font: 'Rufina', serif;
$body-font: 'Open Sans', sans-serif;

// Measurements
$site-width: 900px;

// Colors 
$highlight-color: #ff0000;

// Transitions 
$basic-transition: all .45s ease;

// Mixins 
@mixin post-meta() {
    font-family: $body-font;
    font-size: 12px;
    color: #999;
    
    .post-category, .post-tag {
        text-decoration: none;
        color: #999;
        font-weight: 700;
        transition: $basic-transition;
    }
    
    .post-category:hover, .post-tag:hover {
        color: $highlight-color;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "design",
        "syntax-highlighting"
;