<article class="plan">
    <h2>Application: $1,000</h2>
    
    <p>For when you'll need your users to add and collect information to and from your application. These projects blur the line between a website and a desktop application.</p>
    
    <ul>
        <li>Full stack web application</li>
        <li>The best performance</li>
        <li>Reliable database administration and backups</li>
    </ul>
    
    {% if include.readmore %}
        <a href="/plans/application/">Read more...</a>
    {% endif %}
</article>