<article class="plan">
    <h2>Dynamic: $500</h2>
    
    <p>A self-hosted wordpress site administrated by me with content posted by you or your team. This is best when you need to be able to post your own content as often as you'd like, or you can't avoid having to put information into a database (or both).</p>
    
    <ul>
        <li>Wordpress self-hosted website</li>
        <li>Great performance</li>
        <li>Reliable database administration and backups</li>
    </ul>
    
    {% if include.readmore %}
        <a href="/plans/dynamic/">Read more...</a>
    {% endif %}
</article>