<header class="site-header">
    <nav class="site-nav">
        {% assign sorted_pages = site.pages | sort:"permalink" %}
        {% for page in sorted_pages %}
            {% if page.title %}
                <a class="page-link" href="{{ page.permalink }}">{{ page.title }}</a>
            {% endif %}
        {% endfor %}
        <a class="page-link" href="http://resume.linkedinlabs.com/t0f8mgmg9" target="_blank">Resume</a>
        <a class="page-link" href="mailto:thurst306@gmail.com">Contact</a>
    </nav>
</header>
