body {
    background-color: #EEEEEE;
    
    ::selection {
        background-color: $highlight-color;
        color: #fff;
    }
    
    .site-header {
        nav {
            .page-link {
                font-family: $header-font;
                font-weight: 700;
                text-decoration: none;
                font-size: 20px;
                color: #000;
                transition: $basic-transition;
            }
            
            .page-link:hover {
                color: $highlight-color;
            }
        }
    }
    
    .page {
        transition: $basic-transition;
        
        h1, h2, h3, h4, h5 {
            font-family: $header-font;
            font-weight: 700;
        }
        
        p {
            font-family: $body-font;
        }
        
        a {
            @include link-settings();
        }
        
        a:hover {
            color: $highlight-color;
        }
        
        ul, ol {
            li {
                font-family: $body-font;
            }
        }
        
        table {
            tr {
                td {
                    font-family: $body-font;
                }
            }
        }
        
        #loading-icon {
            margin: 0 auto;
            display: block;
        }
    }
    
    .page#blog, .page#categories, .page#tags {
        #post-list, #item-list {
            list-style-type: none;
            
            .tag, .category {
                font-family: $header-font;
                font-size: 20px;
                color: #000;
                text-decoration: none;
                transition: $basic-transition;
            }
            
            .tag:hover, .category:hover {
                color: $highlight-color;
            }
            
            #all-categories, #all-tags {
                font-family: $body-font;
                text-decoration: none;
                font-size: 12px;
                color: #000;
                font-weight: 300;
                
                #return-link {
                    text-decoration: none;
                    color: #000;
                    font-weight: 700;
                    transition: $basic-transition;
                }
                
                #return-link:hover {
                    color: $highlight-color;
                }
            }
            
            .post-link {
                font-family: $header-font;
                font-weight: 700;
                text-decoration: none;
                font-size: 30px;
                color: #000;
                transition: $basic-transition;
            }
            
            .post-link:hover {
                color: $highlight-color;
            }
            
            .post-excerpt {
                font-family: $body-font;
            }
            
            .post-meta {
                @include post-meta();
            }
        }
    }
    
    #post {
        #post-header {
            width: 100%;
            display: block;
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==);
            background-repeat-y: no-repeat;
            background-position-y: 100%;
            padding: 0 0 10px 0;
            background-origin: content-box;
            
            #post-title {
                font-family: $header-font;
                color: #000;
                font-weight: 700;
                font-size: 3em;
            }
            
            #post-meta {
                @include post-meta();
            }
        }
        
        #post-content {
            font-family: $body-font;
            color: #000;
            
            a {
                @include link-settings();
            }
            
            a:hover {
                color: $highlight-color;
            }
            
            ol {
                list-style-type: lower-roman;
            }
            
            ul {
                list-style-type: disc;
            }
            
            .code-snippet {
                margin: 10px;
                padding: 10px 25px;
                background-color: #DCDCDC;
            }
            
            .inline-snippet{
                @extend .code-snippet;
                padding: 0 10px;
                margin: 0;
                font-size: 0.75em;
            }
        }
    }
    
    .page#projects {
        width: 100%;
        
        #projects-container {
            width: 100%;
            
            .project-link {
                font-family: $header-font;
                font-size: 20px;
                font-weight: 700;
                color: #000;
                text-decoration: none;
                transition: $basic-transition;
                
                .project-link-icon {
                    margin: 0 0 0 10px;
                    fill: #CCC;
                    display: none;
                }
            }
            
            .project-link:hover {
                color: $highlight-color;
                
                .project-link-icon {
                    display: inline;
                }
            }
            
            .project-description {
                font-family: $body-font;
            }
        }
    }
    
    .page#portfolio {
        display: flex;
        width: 100%;
        
        #portfolio-container {
            width: 100%;
            
            .project-link {
                width: 300px;
                height: 300px;
                position: relative;
                background-color: #000;
                overflow: hidden;
                margin: 10px;
                
                .project-meta {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    margin: 10px;
                    font-family: $body-font;
                    font-weight: 300;
                    font-style: italic;
                    color: #fff;
                    
                    .project-name {
                        font-weight: 700;
                        font-style: normal;
                    }
                }
                
                .project-image {
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    opacity: 0.5;
                    transition: $basic-transition;
                }
            }
            
            .project-link:hover {
                .project-image {
                    opacity: 0.2;
                    transform: scale(1.05);
                }
            }
        }
    }
    
    .post {
        transition: $basic-transition;
    }
}