body {
    background-color: #EEEEEE;
    
    .site-header {
        nav {
            .page-link {
                font-family: $header-font;
                font-weight: 700;
                text-decoration: none;
                font-size: 20px;
                color: #000;
                transition: $basic-transition;
            }
            
            .page-link:hover {
                color: $highlight-color;
            }
        }
    }
    
    .page {
        transition: $basic-transition;
        
        #loading-icon {
            margin: 0 auto;
            display: block;
        }
    }
    
    .page#blog, .page#categories, .page#tags {
        #post-list, #item-list {
            list-style-type: none;
            
            #all-categories, #all-tags {
                font-family: $body-font;
                text-decoration: none;
                font-size: 12px;
                color: #000;
                
                #return-link {
                    text-decoration: none;
                    color: #000;
                    font-weight: 700;
                    transition: $basic-transition;
                }
                
                #return-link:hover {
                    color: $highlight-color;
                }
            }
            
            .post-link {
                font-family: $header-font;
                font-weight: 700;
                text-decoration: none;
                font-size: 30px;
                color: #000;
                transition: $basic-transition;
            }
            
            .post-link:hover {
                color: $highlight-color;
            }
            
            .post-excerpt {
                font-family: $body-font;
            }
            
            .post-meta {
                font-family: $body-font;
                font-size: 12px;
                color: #999;
                
                .post-category, .post-tag {
                    text-decoration: none;
                    color: #999;
                    font-weight: 700;
                    transition: $basic-transition;
                }
                
                .post-category:hover, .post-tag:hover {
                    color: $highlight-color;
                }
            }
        }
    }
    
    .page#projects {
        width: 100%;
        display: flex;
        
        #projects-container {
            width: 100%;
            display: flex;
        }
    }
    
    .page#portfolio {
        display: flex;
        width: 100%;
        
        #portfolio-container {
            width: 100%;
            
            .project-link {
                width: 300px;
                height: 300px;
                position: relative;
                background-color: #000;
                overflow: hidden;
                margin: 10px;
                
                .project-meta {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    margin: 10px;
                    font-family: $body-font;
                    font-weight: 300;
                    font-style: italic;
                    color: #fff;
                    
                    .project-name {
                        font-weight: 700;
                        font-style: normal;
                    }
                }
                
                .project-image {
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    opacity: 0.5;
                    transition: $basic-transition;
                }
            }
            
            .project-link:hover {
                .project-image {
                    opacity: 0.2;
                    transform: scale(1.05);
                }
            }
        }
    }
    
    .post {
        transition: $basic-transition;
    }
}