.site-header {
    display: flex;
    margin: 40px auto 10px auto;
    justify-content: space-between;
    align-items: center;
    @include breakpoints();
    
    #site-logo {
        margin: 10px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        
        @media (max-width: 900px) {
            display: none;
        }
    }
    
    .site-nav {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        
        .page-link {
            margin: 10px;
            padding: 25px;
            
            @media (max-width: 846px) {
                padding: 15px;
                
                @media (max-width: 727px) {
                    padding: 0;
                }
            }
        }
    }
}

.page {
    max-width: $site-break-1;
    margin: 0 auto;
}

.page#portfolio {
    max-width: 100%;
    
    #portfolio-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.page#blog {
    #post-list {
        padding: 0;
    }
}

#post {
    max-width: $site-break-1;
    margin: 0 auto;
    
    #post-title {
        text-align: center;
    }
    
    #post-meta {
        text-align: center;
        
        @media (max-width: $site-break-2) {
            #category-list, #tag-list {
                display: block;
            }
            
            .separator {
                display: none;
            }
        }
    }
}

footer {
    max-width: $site-break-1;
    margin: 10px auto 0 auto;
    padding: 10px 0;
}