---
layout: page
title: Blog
permalink: /blog/
identifier: blog
---

<ul id="post-list">
    {% for post in site.posts %}
        <li>
            <article class="post">
                <h1>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h1>
                
                <p class="post-excerpt">{{ post.excerpt }}</p>
                
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} | <span class="category-list tag-list">
                    Categories: 
                    
                    {% for category in post.categories %}
                        {% if category != post.categories.last %}
                            <a href="categories/#{{ category }}" class="post-category">{{ category }}</a>, 
                        {% else %}
                            <a href="categories/#{{ category }}" class="post-category">{{ category }}</a>
                        {% endif %}
                    {% endfor %}
                    
                     | 
                    
                    {% for tag in post.tags %}
                        {% if tag != post.tags.last %}
                            <a href="categories/#{{ tag }}" class="post-category">{{ tag }}</a>, 
                        {% else %}
                            <a href="categories/#{{ tag }}" class="post-category">{{ tag }}</a>
                        {% endif %}
                    {% endfor %}
                </span></span>
            </article>
        </li>
    {% endfor %}
</ul>