---
layout: default
---
<div id="post">
    <header id="post-header">
        <h1 id="post-title">{{ page.title }}</h1>
        <p id="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} | <span id="category-list"></span> | <span id="tag-list"></span></p>
    </header>
    
    <article id="post-content">
        {{ content }}
    </article>
</div>
    
<script>
    var categories = [];
    var tags = [];
    
    {% for category in page.categories %}
        categories.push("<a href='../categories/#{{ category }}' class='post-category'>{{ category }}</a>");
    {% endfor %}
    
    {% for tag in page.tags %}
        tags.push("<a href='../tags/#{{ tag }}' class='post-tag'>{{ tag }}</a>")
    {% endfor %}
    
    $("#category-list").html("Categories: " + categories.join(", "));
    $("#tag-list").html("Tags: " + tags.join(", "));
</script>